/************************FORM**********************/
.form{
	border: 5px solid gray;
	border-radius:15px;
	padding: 5px;
	background-color:#FFFFD5;
}

.input{
	width: 100%;
	display: block;
	font-style: italic;
	font-size: 16px;
	font-style: italic;
}

.label{
	display: block;
	font-size: 26px;
	font-weight: 700;
	font-style: italic;
}

.textarea{
	display: block;
	font-size: 22px;
	font-weight: 400;
	color: white;
	width: 100%;
	font-style: italic;
	border: 1px solid #0000FF;
	border-radius: 30px;
	transition: border 0.2s ease-in;
}


.input:focus, .input:active, .input:hover,
.textarea:focus, .textarea:active, .textarea:hover  {
	border: 2px solid #607D8B;
	-webkit-box-shadow: 0px 1px 15px #FFDD00;
	        box-shadow: 0px 1px 15px #FFDD00;
}
/**************************FORM****************************/