/**************HELPERS*****************/
.text-center {
	text-align: center;
}	

.text-left {
	text-align: left;
}	

.text-right {
	text-align: right;
}	

.text-justify {
	text-align: justify;
}	

.visible {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #00FFA9;
	border: 1px solid #005932;
	border-radius: 20px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.col-1 .visible {
	font-size: 16px;
}
/******************HELPERS******************/